body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tooltip {
  position: relative;
  padding-left: 20px;
}
.tooltip .tooltip-text {
  visibility: hidden;
  opacity: 0;
  font-size: 14px;
  color: rgb(49, 63, 216);
  background-color: rgba(29, 193, 188, 0.3);
  border-radius: 10px;
  padding: 10px 20px 10px 40px;
}
.tooltip .tooltip-text li {
  font-size: 14px;
}
.tooltip .tooltip-text.show {
  visibility: visible;
  opacity: 1;
}
.password-container {
  display: flex;
}
li {
  position: relative;
}
li::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: -15px;
  top: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
li.tick {
  color: green;
}
li.cross {
  color: red;
}
.popup-flex {
  display: flex;
}
.popup-flex > div:first-child {
  flex: 50%;
}
.password-container > div:first-child,
.popup-flex > div > div{
  position: relative;
  min-width: 30%;
}
.password-container > div:first-child .view-password,
.popup-flex > div > div .view-password{
  position: absolute;
  right: 3px;
  top: 32px;
  width: 12px;
  height: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.popup-flex > div > div .view-password{
  right: auto !important;
  left: 190px;
}
.password-container input,
.popup-flex input{
  padding-right: 20px !important;

}
input[name="password"]:focus + .tooltip .tooltip-text {
  visibility: visible;
  opacity: 1;
}